# Dependencies
node_modules/

# Environment variables (CRITICAL: Do not leak your DB password!)
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS related files
.DS_Store
thumbs.db